.body {
  width: 100vw;
  height: 100vh;
  padding-top: 30vh;
}

.container {
  margin: auto;
  padding: 2rem;
  text-align: center;
  background: #fff;
  width: 400px;
  display: block;
  margin: auto;
  color: red;
  font-size: 1.25rem;
  border: solid 1px red;
}
