* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
  text-decoration: none;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(227, 227, 227);
}

.container .content {
  background-color: white;
  text-align: center;
  padding: 40px;
  border-radius: 5px;
  width: 500px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.change-batch p {
  display: block;
  margin-right: 1rem;
}
.change-batch a {
  display: block;
}
.container .change-batch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content .title {
  padding: 20px;
  margin-bottom: 15px;
}

.content .title:hover {
  color: #5e5ff5;
  transform: scale(1.1) translateX(-10px) rotate(-5deg) translateY(5px);
  transition: 2s ease;
}

.content span {
  color: #5e5ff5;
}

.content h1 {
  margin-bottom: 16px;
  font-size: 30px;
}

.content h2 {
  margin-bottom: 10px;
  font-size: 16px;
}

.change-batch button {
  display: inline-block;
  background-color: transparent;
  color: #5e5ff5;
  border: none;
  cursor: pointer;
}

.change-batch button:hover {
  color: #2c2cf5;
  cursor: pointer;
  transition: color 0.2s;
}

.content button {
  display: inline-block;
  width: 160px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid;
  background-color: #5e5ff5;
  color: white;
  cursor: pointer;
}

.content button:hover {
  background-color: white;
  color: #5e5ff5;
  transition: 1s ease;
  border-radius: 50px;
  transform: scale(1.2);
}
