.question-preview td:nth-child(2n) {
  padding-right: 8rem;
}

.question-preview td:nth-child(2n+1) {
  padding-right: 2rem;
}

.question-preview tr:nth-child(2n+1) {
  background-color: #D3D3D3;
}

.question-preview table {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.question-preview-wrong {
  color: red;
}

.preview {
  background-color: beige;
  padding: .25rem;
  min-height: 1rem;
}

.text-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-inputs textarea {
  margin-bottom: 10px;
}

.keys label {
  margin-right: 30px;
}
